h1 {
    background-color: #ffffff;
    font-size: 50px;
    color: #000;
    text-align: center;
    
}
body {
    background-color: rgb(247, 247, 247);
    margin: 0px;
}
img {
    margin: auto;
    display: block;
    height: auto;
    width: px;
    border: 8px;   
    border-radius: 20px; 
    padding: 2px;
}
a {
    text-decoration: none;
    color: darkslategray;
}
* {
    font-family: serif;
}
p {
    margin: 30px;
    font-size: 18px;
}
ul {
    margin: 30px;
    font-size: 18px;
}
